.responseDiv {
  height: 30vh;
  width: 30vw;
  margin: 30vh auto;
  display: flex;
  flex-direction: column;
}

input,
button {
  height: 5vh;
  width: 100%;
}
textarea {
  height: 20vh;
  width: 100%;
}
input,
textarea {
  padding-left: 20px;
}
#submit {
  padding-left: 0;
  background-color: blueviolet;
  color: white;
}
